__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.vscode/
data/
sql_to_pandas/results/
tpch-dbgen/
makefile
data_storage/
sql_to_pandas/test.py
stored_queries/
duckdb
duckdb_tpch.duckdb
duckdb_tpch.duckdb.wal